<div class="row">
	<h1>Double Dog</h1>

	<h3>Employee Functions</h3>
	<button>Create Order</button>

	<h3>Manager Functions</h3>
	<button>Create Menu Items</button>
	<button>Create Order</button>
	<button>See All Orders</button>
</div>